body {
	margin:0;
	background: #B7E4E2;
	}

/*navbar*/
.navbar {
	background: #31ACBA;
	color: white;
	font-size: 20px;
	width: 100%;
	height: 70px;
	}
#home {
	padding: 3px;
	float: left;
	}
.hbutton {
	color: white;
	background-color: #31ACBA;
	font-size: 16px;
	transition-duration: 0.4s;
	padding: 25px 5px 25px 5px;
	text-decoration: none;
	text-align: center;
	float: right;
	height: inherit;
	box-sizing: border-box;
	}
.hbutton:hover {
	background-color: #056472;
	}
#t {
	float: left;
	color: white;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 20px;
	}
/*navbar*/

/* Page Links*/
.FHULink:link {
	color: inherit;
	background-color: inherit;
	text-decoration: underline;
	}
	
.FHULink:visited {
	color: inherit;
	background-color: inherit;
	text-decoration: underline;
	}
	
.FHULink:hover {
	color: blue;
	background-color: inherit;
	text-decoration: underline;
	}
/*Page Links*/

/*Main Page*/
.MPContent {
	background: #bceae8;
	color: black;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-top: 0px;
	font-family: Helvetica, Arial, sans-serif;
	}
/*Main Page*/
	
/*Forum Helpers List*/
.FHPContent {
	background: #B7E4E2;
	font-family: Helvetica, Arial, sans-serif;
	}
hr {
	margin-bottom: 0px;
	margin-top: 0px;
	}
.TOC {
	float: left;
	border: 2px solid black;
	width: 100px;
	height: 150px;
	margin-left: 20px;
	position: fixed;
	right: 5px;
	bottom: 5px;
	background: #B7E4E2;
	}
.username {
	margin-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	}
.pfp {
	margin-left: 20px;
	float: left;
  	border-radius: 10px;
	margin-right: 10px;
	height: 60px;
  	width: 60px;
	}
.bio {
	margin-left: 20px;
	margin-right: 20%;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	}	

.FHP_Blocks {
	min-height: 130px;
	margin-bottom: 5px;
	}
 /*Forum Helpers List*/
	
/*Footer*/
.footer {
	background: #31ACBA;
	color: white;
	font-size: 20px;
	width: 100%;
	height: 110px;
	text-align: center;
	}
/*Footer*/
