/* font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	margin:0;
	background: #B7E4E2;
	}

/*navbar*/
.nav_content {
	background: #31ACBA;
	color: white;
	font-size: 20px;
	width: 100%;
	height: 70px;
	font-family: 'Montserrat', Arial, sans-serif;
	}

.nav_homeicon {
	padding: 3px;
	float: left;
	}

.nav_title {
	float: left;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 20px;
	margin-bottom:0px
	}

.nav_button {
	background-color: #31ACBA;
	font-size: 16px;
	color: white;
	transition-duration: 0.4s;
	padding: 25px 5px 25px 5px;
	text-decoration: none;
	text-align: center;
	float: right;
	height: inherit;
	box-sizing: border-box;
	}

.nav_button:hover {
	background-color: #056472;
	}

/*navbar*/

/* Page Links*/
.FHULink:link {
	color: inherit;
	background-color: inherit;
	text-decoration: underline;
	}

.FHULink:visited {
	color: inherit;
	background-color: inherit;
	text-decoration: underline;
	}

.FHULink:hover {
	color: blue;
	background-color: inherit;
	text-decoration: underline;
	}
/*Page Links*/

/*Main Page*/
.home_content {
	color: black;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-top: 0px;
	font-family: Helvetica, Arial, sans-serif;
	}

.home_answers {
	margin-left: 10%;
	margin-right: 10%;
	}

/*Main Page*/

/*Forum Helpers List*/
.forumhelpers_content {
	font-family: Helvetica, Arial, sans-serif;
	}

hr {
	margin: 0px 20px 0px 20px;
	}

.forumhelpers_navblock {
	border: 2px solid black;
	width: 100px;
	height: 125px;
	position: fixed;
	right: 5px;
	bottom: 5px;
	text-align: center;
	background: #B7E4E2;
	}

@media only screen and (max-width: 800px) {
	.forumhelpers_navblock {
		display: none;
	}
}

.forumhelpers_header {
	text-align: center;
	}

.forumhelpers_subheaders{
	margin-left: 20px;
	margin-right: 20px;
	background: #31ACBA;
	padding: 10px;
	border-radius: 10px;
	}

.forumhelpers_blocks {
	min-height: 130px;
	margin-left: 20px;
	}

.forumhelpers_name {
	font-family: Arial, sans-serif;
	}

.forumhelpers_pfp {
	float: left;
  	border-radius: 10px;
	margin-right: 10px;
	height: 60px;
 	width: 60px;
	}

.forumhelpers_bio {
	margin-left: 20px;
	margin-right: 20%;
	margin-bottom: 0px;
	text-align: justify;
	}
 /*Forum Helpers List*/

/*Credits*/
.credits_content {
	color: black;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-top: 0px;
	font-family: Helvetica, Arial, sans-serif;
	}

.credits_people {
	display: flex;
	padding: 10px 15%;
	flex-wrap: wrap;
	justify-content: center;
}

.credits_block {
	padding: 20px;
	width: 250px;
	box-sizing: border-box;
}

.credits_pfp {
	border-radius: 10px;
	width: 100px;
}

.credits_link {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
/*Credits*/

/*Footer*/
.footer_content {
	background: #31ACBA;
	color: white;
	font-size: 20px;
	width: 100%;
	padding: 10px;
	height: 110px;
	box-sizing: border-box;
	text-align: center;
	font-family: Arial, sans-serif;
	}

/*Footer*/
