/* google fonts Montserrat import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  body {
    margin: 0px;
    background: #B7E4E2;
    }

  /* navagation bar (head) */
  .head_title {
    background: #31ACBA;
    color: white;
    font-size: 40px;
    font-family: Arial, 'Montserrat', sans-serif;
    }

  .head_buttons {
    background: #31ACBA;
    color: white;
    font-size: 20px;
    font-family: Arial, 'Montserrat', sans-serif;
    }

  .head_buttonhover {
    background-color: #31ACBA;
    }
    /* end of navagation bar (head) */

    /* home page (home) */
    .home_content {
      background: #bceae8;
      color: black;
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 20px;
      margin-left: 200px;
      margin-right: 200px;
      }

    /* end of home page (home) */

    /* list of forum helpers (FHP) */

    .FHP_content {
      background: #B7E4E2;
      font-family: Arial, sans-serif;
      }

    .FHP_TOC {
      float: right;
      width: 100px;
      height: 150px;
      background-color: #B7E4E2;
      border: 2px solid black;
      margin-left: 20px;
      position: fixed;
      right: 5px;
      bottom: 5px;
      }

    .FHP_username {
      margin-left: 20px;
      font-size: 20px;
      }

    .FHP_pfp {
      margin-left: 20px;
      margin-right: 10px;
      float: left;
      height: 60px;
      width: 60px;
      border-radius: 10px;
      }

    .FHP_Blocks {
      min-height: 130px;
      margin-bottom: 5px;
      }

    .FHP_bio {
      margin-left: 20px;
      margin-right: 20%;
      margin-bottom: 0px;
      text-align: left;
      }

    /* end of list of forum helpers (FHP) */

    /* footer (foot) */
    .foot_content {
      background-color: #31ACBA;
      color: white;
      font-family: Arial, 'Montserrat', sans-serif;
      font-size: 20px;
      width: 100%;
      height: 110px;
      text-align: center;
    }
    /* end of footer (foot) */

    /* links (FHULink) */
    .FHULink:link {
    	color: black;
    	background-color: inherit;
    	text-decoration: underline;
    	}

    .FHULink:visited {
      color: black;
      background-color: inherit;
      text-decoration: underline;
      }

    .FHULink:hover {
    	color: #343deb;
    	background-color: inherit;
    	text-decoration: underline;
    	}

    /* end of links (FHULink) */
