---
layout: default
title: List of Forum Helpers
---

<h1 style="text-align:center">Current Forum Helpers</h1>
<br>
<h3 style="text-align:center">Below is a list of current Forum Helpers, along with their profile picture and biography.</h3>
<br>
<h4 style="margin-left: 10px;"><img src="/resources/coder.png" alt="coder" style="width:30px;height:30px;vertical-align:middle"> Indicates that that person has helped code the website.</h4>

<div class="TOC">
	<h3 style="text-align: center;"><a href="#top" class="FHULink">Top</a></h3>
	<h3 style="text-align: center;"><a href="#managers" class="FHULink">Managers</a></h3>
	<h3 style="text-align: center;"><a href="#curators" class="FHULink">Curators</a></h3>
</div>
		
<h2 style="margin-left:20px" id="managers">Managers</h2>

{% for member in site.data.managers %}
  <h4 class="username"><a href="https://scratch.mit.edu/users/{{ member[0] }}/" class="FHULink">{{ member[0] }}</a></h4>
  <img src="https://cdn2.scratch.mit.edu/get_image/user/{{ member[1].id }}_60x60.png" class="pfp">
  <p class="bio">{{ member[1].bio }}</p>
  <br>
  <hr>
{% endfor %}

<h2 style="margin-left:20px" id="curators">Curators</h2>

{% for member in site.data.curators %}
  <h4 class="username"><a href="https://scratch.mit.edu/users/{{ member[0] }}/" class="FHULink">{{ member[0] }}</a></h4>
  <img src="https://cdn2.scratch.mit.edu/get_image/user/{{ member[1].id }}_60x60.png" class="pfp">
  <p class="bio">{{ member[1].bio }}</p>
  <br>
  <hr>
{% endfor %}

