.username {
	font-family: Comfortaa, "Comic Sans MS", serif;
}
img {
	float: left;
  	border-radius: 10px;
	margin-right: 10px;
	height: 60px;
  	width: 60px;
	}
.bio {
	margin-right: 400px;
	font-family: Arial, Helvetica, sans-serif;
	}	
 
